.navbar {
    background-color: #778da9;
    text-align: center;
    justify-content: center;
    
}

.nav-link, .navbar-brand, .navbar-brand:hover, .nav-link:hover{
    color: #fffefd;
    font-family: Century Gothic;
}
.navbar-brand:hover, .nav-link:hover, .table-link:hover{
    color: #e0dcd7
}

body {
    background-color: #fafafa;
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-track {
    background: #e9e9e9;
}

body::-webkit-scrollbar-thumb {
    background-color: #778da9;
    border-radius: 20px;
    border: 3px solid #e9e9e9;
}

thead {
    background-color: #a9b4c5;
    color: #fffefd;
}

tbody {
    background-color: #f0e6e698;
    color: #747171;
}

table, th, td {
    font-family: Century Gothic;
    border: 2px solid #fafafa;
    border-collapse: collapse;
    text-align: center;
}

.table-link{
    color: #fffefd;
}

h3,h5,p {
    font-family: Century Gothic;
}
h3{
    color: #403d39;
}

p{
    font-size: 17px;
}

.card-header {
    background-color: #fafafa;
    color: #403d39;
    border-bottom-width: 3px;
    border-color: #403d39;
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

.card-body {
    background-color: #f0e6e698;
}

li {
    font-family: Century Gothic;
    list-style-type: none;
}

img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

a:link {
    text-decoration: none;
}

.git, .insta {
    color: #496e99
}

.link-algoritmo{
   color:  #6a96c9;
}
.link-algoritmo:hover{
    color: #403d39;
}
